body {
  font: 16px/1.25 JAF Bernino Sans, sans-serif;
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.topbar {
  display: flex;
  padding: 0 calc(50% - 35em);
  height: 6em;
  background: linear-gradient(175deg, #1e1e22, #17171a);
  align-items: center;
  color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 0.75em black;
}

.topbar a:hover {
  color: white;
}

.topbar .brand {
  margin-right: 2.25em;
  top: 0.25em;
  position: relative;
}

.topbar .main-menu {
  flex-grow: 1;
}

.topbar .main-menu a {
  padding: 0.75em;
}

.topbar .install-steam {
  font-size: 0.875em;
  padding: 0.25em 0.5em;
  background: rgba(0, 255, 127, 0.5);
  border-radius: 0.125em;
  box-shadow: inset 0 -0.375em 0.5em rgba(0, 0, 0, 0.375);
  display: inline-block;
  margin-right: 3em;
}

.topbar .alerts {
  font-size: 1.5em;
  border-radius: 0.125em;
  display: inline-block;
  width: 1.5em;
  text-align: center;
  margin-right: 0.75em;
  position: relative;
}
.topbar .alerts .octicon {
  font-size: 1em;
}
.topbar .alerts:after {
  content: attr(data-number);
  position: absolute;
  font-size: 0.75rem;
  background: brown;
  color: white;
  padding: 0 0.25em;
  border-radius: 0.125rem;
  left: 50%;
  text-align: center;
  top: 0;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.5), inset 0 -0.375em 0.5em rgba(0, 0, 0, 0.25);
}

.topbar .profile {
  display: flex;
  align-items: center;
}

.topbar .profile .name-and-balance {
  font-size: 0.75em;
  text-align: right;
}

.topbar .profile .avatar {
  border-radius: 0.125em;
  border: 2px solid steelblue;
  margin-left: 0.75em;
}

.catalog-menu {
  width: 70em;
  margin: 0 auto;
  height: 2.25em;
  display: flex;
  margin-bottom: -3.75em;
  margin-top: 1.5em;
  position: relative;
  color: lightskyblue;
}
.catalog-menu > *:first-child {
  border-radius: 0.125em 0 0 0.125em;
}
.catalog-menu > *:last-child {
  border-radius: 0 0.125em 0.125em 0;
}

.catalog-menu a {
  display: flex;
  align-items: center;
  padding: 0 0.75em;
  font-size: 0.875em;
  background: rgba(70, 130, 180, 0.75);
  margin-right: 1px;
}
.catalog-menu a:hover {
  color: white;
  background: linear-gradient(170deg, steelblue, #2c5171);
}
.catalog-menu a .octicon {
  margin-right: 0.375em;
}

.catalog-search {
  flex-grow: 1;
  display: block;
  margin: 0;
  flex-grow: 1;
  background: rgba(70, 130, 180, 0.75);
  font: 0.875em/1.25 sans-serif;
  font-family: inherit;
  border: 0;
  color: lightskyblue;
  padding: 0 0.75em;
  border-radius: 0;
}
.catalog-search::-webkit-input-placeholder {
  color: inherit;
}
.catalog-search:focus {
  outline: 0;
  color: black;
  background: whitesmoke;
  box-shadow: inset 0 0 0.375em rgba(0, 0, 0, 0.75);
}

.feature {
  overflow: hidden;
  width: 100%;
  outline: 1px dotted red;
}

.feature img {
  width: 100%;
  display: block;
}