html, body {
margin: 0;
}

body {
  background: #242426;
}

.navbar {
  padding: 0px 220px;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background: #171A23;
}

.navbar .brand {
  float: left;
  height: 70px;
  position: relative;
}

.navbar .brand img {
  width: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.navbar .navigation {
  float: left;
  line-height: 70px;
  margin-left: 170px;
}

.navbar .navigation .nav-item {
  color: lightgray;
  font-family: Roboto;
  font-weight: 600;
  text-decoration: none;
  margin-right: 15px;
}

.navbar .navigation .nav-item:hover {
  color: #3f77d1;
}

.navbar .profile {
  float: right;
  height: 70px;
  line-height: 0;
  position: relative;
}

.navbar .profile .center-content {
  position: absolute;  
  top: 0;  
  height: 40px;
  bottom: 0; 
  right: 0;
  margin: auto;
}

.navbar .profile .avatar {
  height: 40px;
  width: 40px;
  border-right: 2px solid #3f77d1;
}

.banner {
  padding: 0px 200px;
  box-sizing: border-box;
}

.banner .background { 
  padding: 20px;
  box-sizing: border-box;
  background: #2F3648;
  height: 230px;
}

.banner .background .avatar {
  border-right: 5px solid #3f77d1;
  margin-right: 20px;
  float: left;
}

.banner .background .user-information {
}

.banner .background .user-information .user-name {
  font-size: 30px;
  color: white;
  font-family: Lato;
  font-weight: 600;
}

.banner .background .user-information .user-description {
  font-size: 14px;
  color: lightgray;
  display: block;
  margin-top: 30px;
  font-family: Lato;
  font-weight: 400;
}